@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.  The Information Technology Office has been notified.</h2>
    <h4>If you have just created this application, please wait 90 seconds for the database to start up.</h4>
</div>